.DS_Store
.env
.env.*
!.env.example

node_modules/
dist/
build/
.vite/

vendor/
storage/*.key

__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

.idea/
.vscode/

coverage/
htmlcov/

*.log
tmp/
temp/
